* {
  transition: color 0.15s, background 0.15s;
}

body, html {
  height: 100%;
  overflow: hidden;
}

nav {
  position: fixed;
  background: black;
  color: white;
  height: 3%;
  width: 100%;
}

.editor {
  height: 97%;
  width: 100%;
  margin-top: 3%;
  position: fixed;
  
}
.editor .ace_editor {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
}
.editor .ace_editor .ace_scrollbar-v {
  display: none;
}

.dg.ac {
  position: fixed;
  z-index: 5;
}

.dg .c select {
  color: #000;
}
.split .editor .ace_editor {
  left: 0;
  width: 50%;
  opacity: 1 !important;
}
.split .editor .dg.ac {
  left: 50%;
}

