<div>
<div class="nav">
	<button>Abrir</button>
	<button>Guardar</button>
	<button>Compilar</button>
	<button>Enviar y Cerrar</button>
  <select ng-model="selectedTheme" ng-options="theme as theme.theme for theme in themes track by theme.id" ng-change="actTheme()"></select>
</div>
<div class="editor">
      <div ui-ace="{
      useWrapMode : editor.useWrapMode,
      showGutter: editor.gutter,
      theme:editor.theme,
      mode: editor.mode,
      onLoad: aceLoaded,
      onChange: aceChanged
    }" ng-model='value'></div>
    </div>
</div>