<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>Python IDE</title>
    <script src="{% static "angularIDE/lib/bower_components/angular/angular.min.js"%}"></script>
    <script src="{% static "angularIDE/lib/angular-route.js" %}"></script>
    <script src="{% static "angularIDE/lib/bower_components/ace-builds/src-noconflict/ace.js" %}"></script>
    <script src="{% static "angularIDE/lib/bower_components/angular-ui-ace/ui-ace.min.js" %}"></script>
    <script src="{% static "angularIDE/lib/dat.gui/build/dat.gui.min.js" %}"></script>
    <script src="{% static "angularIDE/js/app.js" %}"></script>
    <script src="{% static "angularIDE/lib/sweetalert.min.js"%}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "angularIDE/lib/sweetalert.css" %}">
	<link rel="stylesheet" type="text/css"  href="{% static "angularIDE/views/css/IDE.css" %}">
    <link rel="shortcut icon" href="{% static "angularIDE/views/img/favicon.ico" %}" type="image/x-icon">
    <link rel="icon" href="{% static "angularIDE/views/img/favicon.ico" %}" type="image/x-icon">

</head>
<body ng-app="IDE">
<div ng-view>
</div>
<script type="text/javascript">
var static_url = '{{STATIC_URL}}'
</script>
</body>
</html>